.app-container {
  font-family: Arial, sans-serif;
  padding: 0;
  margin: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
}

.navbar-left,
.navbar-middle,
.navbar-right {
  display: flex;
  align-items: center;
}

.navbar a,
.navbar button {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
  padding: 5px 10px;
  border: none;
  background: none;
}

.navbar a:hover,
.navbar button:hover {
  background-color: #575757;
  border-radius: 3px;
}
